Repository GnuCodingStudio/Rogue-Project, pull requests merged in 2025-02, with the labels that each got.

#20 feat(gameplay): Add attack and weapon to player
  objects/actors/player/Player.gd
  objects/actors/player/Player.tscn
  objects/attacks/projectile/Projectile.gd
  objects/attacks/projectile/Projectile.png
  objects/attacks/projectile/Projectile.png.import
  objects/attacks/projectile/Projectile.tscn
  project.godot
  resources/weapons/Gun.tres
  resources/weapons/Sword.tres
  resources/weapons/Weapon.gd
Labels: scope-weapon

#23 feat(multiplayer): starting a multiplayer game opens the lobby
  objects/actors/player/Player.tscn
  project.godot
  resources/localization/MenuTranslations.csv
  resources/localization/MenuTranslations.en.translation
  resources/localization/MenuTranslations.fr.translation
  resources/localization/MenuTranslations.xlsx
  scenes/menus/lobby/Lobby.gd
  scenes/menus/lobby/Lobby.tscn
  scenes/menus/main/MainMenu.gd
  scenes/menus/main/MainMenu.tscn
  services/multiplayer/MultiplayerManager.gd
Labels: scope-multiplayer, scope-menu

#29 feat(weapon): Add weapon choice menu
  .gitignore
  objects/actors/player/Player.gd
  objects/actors/player/Player.tscn
  project.godot
  resources/localization/MenuTranslations.csv
  resources/weapons/Sword.tres
  resources/weapons/Weapon.gd
  resources/weapons/gun/Gun.tres
  resources/weapons/gun/GunIcon.png
  resources/weapons/gun/GunIcon.png.import
  resources/weapons/sword/Sword.tres
  resources/weapons/sword/SwordIcon.png
  resources/weapons/sword/SwordIcon.png.import
  scenes/menus/main/MainMenu.gd
  scenes/menus/weapon/WeaponChoice.gd
  scenes/menus/weapon/WeaponChoice.tscn
  scenes/menus/weapon/button/WeaponChoiceButton.gd
  scenes/menus/weapon/button/WeaponChoiceButton.tscn
  services/managers/store/StoreManager.gd
Labels: scope-menu, scope-weapon

#27 feat(map): add interactive map to navigate to islands
  components/clickable/Clickable.gd
  project.godot
  resources/theme/MenuTheme.tres
  scenes/map/IslandMarker.gd
  scenes/map/IslandMarker.tscn
  scenes/map/Map.gd
  scenes/map/Map.tscn
  scenes/menus/credits/CreditsItem.tscn
  scenes/menus/main/MainMenu.gd
  scenes/menus/main/MainMenu.tscn
Labels: scope-map

#43 feat(weapon): add sword attack scene
  objects/actors/player/Player.gd
  objects/actors/player/Player.tscn
  objects/attacks/melee/Melee.gd
  objects/attacks/melee/Melee.tscn
  objects/attacks/melee/melee.png
  objects/attacks/melee/melee.png.import
  objects/attacks/projectile/Projectile.gd
  objects/attacks/projectile/Projectile.tscn
  resources/localization/MenuTranslations.en.translation
  resources/localization/MenuTranslations.fr.translation
  resources/weapons/Weapon.gd
  resources/weapons/gun/Gun.tres
  resources/weapons/sword/Sword.tres
  scenes/levels/debug/DebugLevel.tscn
Labels: scope-weapon

#46 feat(multiplayer): synchronization navigation menu
  objects/actors/player/Player.tscn
  scenes/map/Map.gd
  scenes/menus/lobby/Lobby.gd
  scenes/menus/lobby/Lobby.tscn
  scenes/menus/weapon/WeaponChoice.gd
  scenes/menus/weapon/button/WeaponChoiceButton.gd
  services/multiplayer/MultiplayerManager.gd
Labels: scope-multiplayer
